<h3>Create an account</h3>
<form class="ui form" action="" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input label="Username" inputType="text" [control]="authForm.controls.username"></app-input>
  <app-input label="Password" inputType="password" [control]="authForm.controls.password"></app-input>
  <app-input label="Confirm Password" inputType="password"
             [control]="authForm.controls.passwordConfirmation"></app-input>
  <ng-container
    *ngIf="authForm.controls.password.touched && authForm.controls.passwordConfirmation.touched && authForm.errors">
    <div class="ui red basic label">
      <p *ngIf="authForm.errors?.['passwordMismatch']">
        Passwords not match!
      </p>
      <p *ngIf="authForm.errors?.['noConnection']">
        Sorry! No internet Connection!
      </p>
      <p *ngIf="authForm.errors?.['noConnection']">
        Sorry, an unknown error occurred!
      </p>
    </div>

  </ng-container>
  <div>
    <button class="ui submit button primary ">
      Submit
    </button>
  </div>

</form>


<div>
  {{ authForm.errors | json }}
</div>
