<div class="ui container">
  <h3>Sign In</h3>
  <form class="ui form" (ngSubmit)="onSubmit()">
    <app-input label="Username" inputType="text" [control]="authForm.controls.username"></app-input>
    <app-input label="Password" inputType="password" [control]="authForm.controls.password"></app-input>

    <ng-container *ngIf="authForm.errors">
      <div class="ui red basic label" *ngIf="authForm.errors?.['credentials']">
        <p>
          Invalid username or password!
        </p>
      </div>
    </ng-container>
    <div>
      <button class="ui submit button primary ">
        Submit
      </button>
    </div>
  </form>

</div>


